.folder {
    width: 200px;
    height: 50px;
    border: 1px solid darkgray;
    border-radius: 5px;
    background-color: white;
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

.folder p {
    margin: auto;
}

.folder__link {
    text-decoration: none;
}

.selected__folder .folder {
    background-color: skyblue;
}