.sidebar {
    width: 300px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar button {
    width: 200px;
    height: 50px;
    margin-top: 30px;
}