.note {
    box-sizing: border-box;
    position: relative;
    min-width: 200px;
    border: 1px solid gray;
    margin-top: 20px;
    padding: 10px;
}

.note h3 {
    margin-top: 0;
    margin-bottom: 30px;
}

.note p {
    margin-bottom: 0;
    font-size: 12px;
}

.note button {
    width: 100px;
    height: 30px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.note__link {
    text-decoration: none;
    color: inherit;
}


